{% apply spaceless -%}

  {% set o = this.options() %}

  {# Slot for custom content #}
  {% set slot_content %}{% block content %}{% endblock %}{% endset %}

  {# Content (Label) priority: Slot > Prop #}
  {% set has_content = slot_content is not empty %}
  {% set content = has_content ? slot_content : (o.label ?? '') %}

  {# Render badge #}
  {% if o.tag == 'a' %}
    <a href="{{ o.href }}"
       class="{{ o.classes }}"
      {{ this.renderHtmlAttributes(o.attrs) | raw }}>
      {% if o.hasCounter %}
        <span data-bs-badge-target="counter">{{ o.count ?? content|raw }}</span>
      {% elseif o.hasIndicator %}
        <span data-bs-badge-target="indicator"></span>
      {% else %}
        {{- content|raw -}}
      {% endif %}
    </a>
  {% else %}
    <span class="{{ o.classes }}"
      {{ this.renderHtmlAttributes(o.attrs) | raw }}>
      {% if o.hasCounter %}
        <span data-bs-badge-target="counter">{{ o.count ?? content|raw }}</span>
      {% elseif o.hasIndicator %}
        <span data-bs-badge-target="indicator"></span>
      {% else %}
        {{- content|raw -}}
      {% endif %}
    </span>
  {% endif %}

{%- endapply %}

