{% apply spaceless -%}

  {% set o = this.options() %}

  {# Slot for custom content #}
  {% set slot_content %}{% block content %}{% endblock %}{% endset %}

  {# Content priority: Slot > Prop #}
  {% set has_content = slot_content is not empty %}
  {% set content = has_content ? slot_content : (o.label ?? '') %}

  {# Render with or without wrapper #}
  {% if o.wrapper %}
    <li class="nav-item">
      <{{ o.tag }} class="{{ o.classes }}" {{ this.renderHtmlAttributes(o.attrs) | raw }}>
        {{ content | raw }}
      </{{ o.tag }}>
    </li>
  {% else %}
    <{{ o.tag }} class="{{ o.classes }}" {{ this.renderHtmlAttributes(o.attrs) | raw }}>
      {{ content | raw }}
    </{{ o.tag }}>
  {% endif %}

{%- endapply %}

